{% comment %}
  Lesson navigation bar.
{% endcomment %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>



      {% comment %} Always show link to home page. {% endcomment %}
      <a class="navbar-brand logo" href="{{ page.root }}{% link index.md %}"></a>
      <a class="navbar-brand desktop-only" href="{{ page.root }}{% link index.md %}">Home</a>

    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        {% if site.kind == "lesson" %}
	{% comment %} Show setup instructions. {% endcomment %}
        <li><a href="{{ page.root }}{% link setup.md %}">Setup</a></li>

        {% comment %} Show lesson episodes for lessons. {% endcomment %}
        <li class="dropdown">
          <a href="{{ page.root }}/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lectures<span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for episode in site.episodes %}
              <li class="dropdown-submenu">
				          <a class="test" href="{{ page.root }}{{ episode.url }}">{{ episode.title }}</a>
                  {% comment %} For each episode, generate a navigation dropdown based on the front matter variable 'navigation'. {% endcomment %}
			            <ul class="dropdown-menu">
                    {% for nav-item in episode.navigation %}
                      {% assign nav_id = nav-item.id %}
                      {% assign nav_id_stripped = nav-item.id | downcase | remove: '–'| remove: '-' | remove: ':' |
                          remove: '`' | remove: '(' | remove: ')' | remove: ',' | remove: '?' | remove: '.' | remove: '/' %}
                      {% assign nav_id_stripped = nav_id_stripped | replace: " ", "-" %}
                    <li><a href="{{ page.root }}{{ episode.url }}#{{ nav_id_stripped }}">{{ nav-item.id }}</a></li>
                    {% endfor %}
			             </ul>
               </li>
            {% endfor %}
          </ul>
        </li>

        {% comment %} Show lecture material{% endcomment %}
        <li class="dropdown">
          <a href="{{ page.root }}/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lectures<span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for collection in site.collections order:ascending %}
                {% assign name = collection.label %}
                {% assign first_character = name | slice: 0 %}
                {% if first_character == "0" or first_character == "1" %}
                    {% assign pretty_name = name | replace: '-', ' ' %}
                    {% assign pretty_name = pretty_name | slice: 3, pretty_name.size %}

                  <li class="dropdown-submenu">
                      <a class="nav-folder" href="#">{{ pretty_name }}</a>
                            <ul class="dropdown-menu">
                        {% for page in site.[name] %}
                        <li><a href="{{ page.root }}{{ page.url  }}">{{ page.title }}</a></li>
                        {% endfor %}
                             </ul>
                   </li>
                {% endif %}
            {% endfor %}
          </ul>
        </li>

        <!-- {% comment %} Show lesson episodes for lessons. {% endcomment %}
        <li class="dropdown">
          <a href="{{ page.root }}/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Workshops<span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for workshop in site.workshops %}
            <li><a href="{{ page.root }}{{ workshop.url }}">{{ workshop.title }}</a></li>
            {% endfor %}
          </ul>
        </li> -->

	{% endif %}

	{% comment %} Show extras for lessons or if this is the main workshop-template repo (where they contain documentation). {% endcomment %}
	{% if site.kind == "lesson" %}
        <li class="dropdown">
          <a href="{{ page.root }}/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Extras <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ page.root }}{% link reference.md %}">Reference</a></li>
            {% for extra in site.extras %}
            <li><a href="{{ page.root }}{{ extra.url }}">{{ extra.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
	{% endif %}
    </div>
  </div>
</nav>
