{% comment %}
Lesson navigation bar.
{% endcomment %}

{% assign index_page = 'index.html' %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>



            {% comment %} Always show link to home page. {% endcomment %}
            <a class="navbar-brand logo" href="{{ page.root }}/{{ index_page }}"></a>
            <a class="navbar-brand desktop-only" href="{{ page.root }}/{{ index_page }}">Home</a>

        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                {% if site.kind == "lesson" %}
                {% comment %} Show setup instructions.
                <li><a href="{{ page.root }}{% link setup.md %}">Setup</a></li>
                move endcomment above <li><a href="{{ page.root }}{% link setup.md %}">Setup</a></li> to show extras
                {% endcomment %}

                {% comment %} Show lecture material{% endcomment %}
                <li id="lecture-nav-bar" class="dropdown">
                    <a href="{{ page.root }}/{{ index_page }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lectures<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for collection in site.data.navigation-list.navigation_list %}
                        {%- assign id = collection.id -%}
                        {%- assign collection_title = collection.title -%}
                        {%- assign collection_first_link = collection.links[0].link -%}
                        {%- assign collection_links_size = collection.links | size -%}
                        <li class="dropdown-submenu">
                            <a class="nav-folder" href="{{ page.root }}/{{ id }}/{{ collection_first_link }}">{{ collection_title }}</a>
                            <ul id="{{ id }}-navbar" class="dropdown-menu">
                                {% for link in collection.links %}
                                

                                {% comment %}
                                Find the current page that correspond to this link in the nav list
                                {% endcomment %}
                                {% assign link_without_html_ext = link.link | split: '.html' %}
                                {% capture cur_page_id %}/{{ id }}/{{ link_without_html_ext[0] }}{% endcapture %}
                                {% for collection_page in site.[id] %}
                                    {% if collection_page.url == cur_page_id %}
                                        {% assign cur_page = collection_page %}
                                    {% endif %}
                                {% endfor %}
                                
                                {% comment %}
                                If cur_page is the last page and it has a collection_all_in_one variable with the value true then it
                                is a all in one page so add seperator to distinguish between the all in one page for that collection.
                                {% endcomment %}
                                {% if forloop.index == collection_links_size and cur_page.collection_all_in_one == true %}
                                  <li role="separator" class="divider"></li>
                                {% endif %}
                                <li><a href="{{ page.root }}/{{ id }}/{{ link.link }}"> {{ link.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                        <!--
                         <li role="separator" class="divider"></li>
                        <li><a href="{{ page.root }}{% link aio.md %}">All in one page (In Progress - Not Working Yet)</a></li>
                      -->
                    </ul>
                </li>

                <!-- {% comment %} Show lesson episodes for lessons. {% endcomment %}
                    <li class="dropdown">
                    <a href="{{ page.root }}/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Workshops<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    {% for workshop in site.workshops %}
                    <li><a href="{{ page.root }}{{ workshop.url }}">{{ workshop.title }}</a></li>
                    {% endfor %}
                    </ul>
                    </li> -->

                    {% endif %}

                    {% comment %}
                    Show extras for lessons or if this is the main workshop-template repo (where they contain documentation).
                    {% if site.kind == "lesson" %}
                    <li class="dropdown">
                        <a href="{{ page.root }}/{{ index_page }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Extras <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ page.root }}{% link reference.md %}">Reference</a></li>
                            {% for extra in site.extras %}
                            <li><a href="{{ page.root }}{{ extra.url }}{{ index_page }}">{{ extra.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    move endcomment above if site.kind to show extras
                    {% endcomment %}
        </div>
    </div>
</nav>
