{% comment %}
Display syllabus in tabular form.
Days are displayed if at least one episode has 'start = true'.
{% endcomment %}
<div class="syllabus">
    <h2 id="schedule">Schedule</h2>

    {% assign lesson_number = 0 %}
    {% assign day = 0 %}
    {% assign multiday = false %}
    {% for episode in site.episodes %}
    {% if episode.start %}{% assign multiday = true %}{% break %}{% endif %}
    {% endfor %}
    {% assign current = site.start_time %}

    <table class="table table-striped">
        <tr>
            {% if multiday %}<td class="col-md-1"></td>{% endif %}
            <td class="{% if multiday %}col-md-1{% else %}col-md-2{% endif %}"></td>
            <td class="col-md-3"><a href="{{ page.root }}{% link setup.md %}">Setup</a></td>
            <td class="col-md-7"></td>
        </tr>
        {% for collection in site.data.navigation-list.navigation_list %}
        {% assign collection_first_page = collection.links[0] %}
        <tr>
            <td class="{% if multiday %}col-md-1{% else %}col-md-2{% endif %}"></td>
            <td class="col-md-3">{{ forloop.index }}. <a href="{{ page.root }}/{{ collection.id }}/{{ collection_first_page.link }}">{{ collection.title }}</a></td>
            <td class="col-md-7"></td>
        </tr>
        {% endfor %}
    </table>

    <p>
    The actual schedule may vary slightly depending on the topics and exercises chosen by the instructor.
    </p>

</div>
