---
---
// Styling for the multi level dropdown menu
.dropdown-submenu {
    position: relative;
}

// Hide the options
.dropdown-submenu ul {
    display: none;
}

// Show the options
.dropdown-submenu:hover > ul {
  display: block;
  top: 0%;
  left: 100%;
  position: absolute;
}

// Source: https://stackoverflow.com/questions/11124777/twitter-bootstrap-navbar-fixed-top-overlapping-site
// Added this so that navbar don't cover content
body {
  padding-top: 70px;
}
// Source: https://stackoverflow.com/questions/11124777/twitter-bootstrap-navbar-fixed-top-overlapping-site
// Added this so that navbar don't cover content
@media screen and (max-width: 780px) {
    body { padding-top: 0px; }
}
